@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151338;
  color: #e0e7ff;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2a65;
}

::-webkit-scrollbar-thumb {
  background: #818cf8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b50a1;
}

